---
- name: GrayLog | Check if my_package is installed
  command: dpkg-query -W graylog-server
  register: graylog_check_deb
  become: yes
  failed_when: graylog_check_deb.rc > 1
  changed_when: graylog_check_deb.rc == 1
  tags:
    -graylog


- name: GrayLog | download package
  get_url:
    url="https://packages.graylog2.org/repo/packages/graylog-2.1-repository_latest.deb"
    dest="/tmp/graylog-2.1-repository_latest.deb"
  when: graylog_check_deb.rc == 1
  tags:
    -graylog

- name: GrayLog | install apt sources from deb packages
  shell: "dpkg -i /tmp/graylog-2.1-repository_latest.deb"
  become: true
  when: graylog_check_deb.rc == 1
  tags:
    -graylog

- name: GrayLog | install graylog server
  apt: pkg=graylog-server state=present update_cache=yes
  become: yes
  when: graylog_check_deb.rc == 1
  tags:
    -graylog

- name: GrayLog | patch configs
  lineinfile: dest=/etc/graylog/server/server.conf regexp="{{ item.regexp }}" line="{{ item.line }}"
  with_items: "{{ graylog_properties | default([]) }}"
  when: graylog_properties is defined
  notify: restart graylog-server
  become: yes

- name: Graylog | Install additional non-bundled plugins
  get_url: url="{{ item.url }}" dest="{{ graylog_plugin_path }}/{{ item.name }}"
  with_items: "{{ graylog_plugins | default([]) }}"
  become: yes

- name: GrayLog | Start service
  service: name=graylog-server state=restarted
  become: true
  when: (graylog_check_deb.rc == 1) and docker_test is not defined
  tags:
    -graylog
